@media (min-width:1200px){

    .animation-toLeft{
        transform: translate(15%, 0);
        transition: all 0.8s ease 0s;
        opacity:0;
      }
      .animation-toLeft._active{
        transform: translate(0px, 0px);
        opacity: 1;
      }

      .animation-toBottom{
        transform: translate(0, -40%);
        transition: all 0.8s ease 0s;
        opacity:0; 
      }
      .animation-toBottom._active{
        transform: translate(0px, 0px);
        opacity: 1;
      }

      .animation-opacity{
        transition: all 2s ease 0s;
        opacity:0; 
      }
      .animation-opacity._active{
        opacity: 1;
      }

      .delay{
        transition: all 0.8s ease 0s;
      }
      .delay._active{
        transition: all 0.8s ease 0.2s;
      }
    }  
/*
    .about__text:nth-child(1){
    
    }
    .about__text:nth-child(2){

    }
    */
      .line-1,
      .line-2,
      .line-3,
      .line-4{
        transition: all 2s ease 0s;
        width: 0;
        
      }
      .line-1._active{
       width: 80%;
      }
      .line-2._active{
        width: 70%;
       }
      .line-3._active{
        width: 75%;
       }
      .line-4._active{
        width: 40%;
       }


/*

.line-1{
  animation: progres-1 1.5s linear;  
}
@keyframes progres-1{
  0%{
    width: 0%;
  }
  25%{
      width: 20%;
  }
  50%{
      width: 40%;
  }
  75%{
      width: 60%;
  }
  100%{
      width: 80%;
  }
};
*/